.feature {
    display: flex;
    max-height: 80vh;

    .feature-thumbnail {
        width: 40%;
        text-align: center;
    }
    .feature-content {
        padding: 100px 0;
        width: 60%;

        h2 {
            margin-bottom: 0.5em;
            font-size: 3em;
        }
        p {
            font-size: 1.2em;
            line-height: 1.8em;
        }
    }
    img {
        height: 100%;
    }
}
