* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cardo', serif;
}

h2 {
    margin-bottom: 0.5em;
    font-size: 3em;
}

p {
    font-size: 1.2em;
    line-height: 1.8em;
}
