.header {
    padding: 20px 0;
    color: #74DACF;

    .container {
        display: flex;
        align-items: center;
    }
    .nav {
        margin-left: auto;

        a {
            display: block;
        }
        svg {
            display: block;
            fill: #E2AAD4;
        }
    }
}
