$padding: 30px;

.grid {
    .container .macy-container {
        display: flex;
        flex-wrap: wrap;
        padding: 0 calc(10vw - #{$padding});

        .item {
            padding: $padding;
            cursor: pointer;
        }
    }

    img {
        width: 100%;
    }
    figcaption {
        display: none;
    }
}
